# Built-in Data Structures, Functions, and Files

## Data Structures

**Tuple**

In [1]:
tup = 3, 5, 7
tup

(3, 5, 7)

In [2]:
nested_tup = (0,1,2,3), (5,7,9)
nested_tup

((0, 1, 2, 3), (5, 7, 9))

In [3]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
(4, None, 'foo') + (6, 0) + ('bar',) #concatinating

(4, None, 'foo', 6, 0, 'bar')

In [5]:
('foo', 'bar') * 4 #multiplying

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [6]:
a, (b, c, d) = nested_tup #unpacking
d

9

In [7]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for e, f, g in seq:
    print('e={0}, f={1}, g={2}'.format(e, f, g))

e=1, f=2, g=3
e=4, f=5, g=6
e=7, f=8, g=9

In [8]:
values = 1, 2, 3, 4, 5 # *rest 
a, b, *rest = values

In [9]:
a,b

(1, 2)

In [10]:
rest

[3, 4, 5]

In [11]:
a, b, *_ = values # *_ - unwanted variable
b

2

**List**

In [12]:
[4, None, 'foo'] + [7, 8, (2, 3)] # concatinating with '+' is slow (creates a new list and copies over)

[4, None, 'foo', 7, 8, (2, 3)]

In [13]:
x = [4, None, 'foo'] 
x.extend([7, 8, (2, 3)]) # extend() is much faster (no new object)
x

[4, None, 'foo', 7, 8, (2, 3)]

In [14]:
# Sorting in-place (no copy)
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [15]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [16]:
# Binary search and maintaining a sorted(!!!) list
import bisect

c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2) #returns position to insert the new element

4

In [17]:
bisect.insort(c, 6) #inserts the new element into the proper positin in the sorted list
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [18]:
# Slicing
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:4] = [30, 60]
seq

[7, 2, 3, 30, 60, 5, 6, 0, 1]

In [19]:
# Sorting not in-place
sorted([7, 1, 2, 6, 0, 3, 2]) #creates a copy

[0, 1, 2, 2, 3, 6, 7]

In [20]:
# zip
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [21]:
# Also zip converts a list of rows into a list of columns
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt'), ('James', 'Bond')]
first_names, last_names = zip(*pitchers)

In [22]:
first_names

('Nolan', 'Roger', 'Schilling', 'James')

In [23]:
last_names

('Ryan', 'Clemens', 'Curt', 'Bond')

In [24]:
# reversed() - generator
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [25]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

**Dict**

In [26]:
# Adding an element
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [27]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [28]:
# Deleting an element with del
del d1['dummy']
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [29]:
# Deleting an element with pop(key)
ret = d1.pop(5)
ret

'some value'

In [30]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [31]:
# Updating in-place (existing keys will be rewritten.)
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [32]:
# Creating dicts from 2 sequences
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [33]:
# Creating dicts from 2 sequences
key_lst = ['a', 'b', 5, 'z']
val_lst = [0, 2, 5, 16]
mapping1 = dict(zip(key_lst, val_lst))
mapping1

{'a': 0, 'b': 2, 5: 5, 'z': 16}

In [34]:
# categorizing a list of words by their first letters as a dict of lists
# 1 way - naive
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [35]:
# 2 way - usins setdefault() method - better
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [36]:
# 3 way - usins 'defaultdict' type - better
from collections import defaultdict

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [37]:
# hashability checking - keys must be hashable (immutable) - int, float, string, tuple (all tuple's elements must be immutable too)
hash('string')

959802971

In [38]:
hash((1, 2, (2, 3)))

1387206534

**Set**

In [39]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [40]:
# union() method = a | b
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
# intersection() method = a & b
a.intersection(b)

{3, 4, 5}

In [42]:
# difference() method = a - b
a.difference(b)

{1, 2}

In [43]:
# symmetric_difference() method = a ^ b = all except intersection
a.symmetric_difference(b)

{1, 2, 6, 7, 8}

In [44]:
# True if the elements of a are all contained in b
a.issubset(b)

False

In [45]:
# True if the elements of b are all contained in a
a.issuperset(b)

False

In [46]:
# True if a and b have no elements in common
a.isdisjoint(b)

False

In [47]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

**Table 3-1. Python set operations**

Function | Alternative syntax | Description
---|---|---
a.add(x) | N/A | Add element x to the set a
a.clear() | N/A | Reset the set a to an empty state, discarding all of its elements
a.remove(x) | N/A | Remove element x from the set a
a.pop()| N/A| Remove an arbitrary element from the set a, raising KeyError if the set is empty
a.union(b) | a \| b |All of the unique elements in a and b
a.update(b) | a \|= b | Set the contents of a to be the union of the elements in a and b
a.intersection(b) | a & b | All of the elements in both a and b
a.intersection_update(b) | a &= b | Set the contents of a to be the intersection of the elements in a and b
a.difference(b)| a - b |The elements in a that are not in b
a.difference_update(b) |a -= b| Set a to the elements in a that are not in b
a.symmetric_difference(b) |a ^ b |All of the elements in either a or b but not both
a.symmetric_difference_update(b) |a ^= b |Set a to contain the elements in either a or b but not both
a.issubset(b) |N/A| True if the elements of a are all contained in b
a.issuperset(b)| N/A |True if the elements of b are all contained in a
a.isdisjoint(b) |N/A |True if a and b have no elements in common

**List, Set, and Dict Comprehensions**

In [48]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [49]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [50]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [51]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

**Nested list comprehensions**

In [52]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [53]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [54]:
result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [55]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup if x > 4]
flattened

[5, 6, 7, 8, 9]

In [56]:
[[x for x in tup if x > 4] for tup in some_tuples]

[[], [5, 6], [7, 8, 9]]

## Functions

**Global and local scope**

In [57]:
a = None
def bind_a_variable():
    global a
    a = [42]
bind_a_variable()
a

[42]

**Functions are Objects**

In [58]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [59]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title] #functions are objects

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [60]:
for x in map(remove_punctuation, states): #map() applies some function to a sequence
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

**Anonymous (Lambda) Functions**

In [61]:
def short_function(x):
    return x * 2
# is equal to
equiv_anon = lambda x: x * 2

In [62]:
# a silly example
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [63]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

**Currying: Partial Argument Application**

In [64]:
# One way
def add_numbers(x, y):
    return x + y
add_five = lambda y: add_numbers(5, y) # a new function that calls an existing function

In [65]:
add_five(10)

15

In [66]:
# Second way
from functools import partial
add_five = partial(add_numbers, 5)

In [67]:
add_five(40)

45

**Generators**

In [68]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [69]:
dict_iterator = iter(some_dict)
dict_iterator

In [70]:
list(dict_iterator)

['a', 'b', 'c']

In [71]:
#creating a generator 'yeld' instead of 'return'
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [72]:
gen = squares()
gen

In [73]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

**Generator expressions**

In [74]:
gen = (x ** 2 for x in range(100))
gen

In [75]:
sum(x ** 2 for x in range(100))

328350

In [76]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

**itertools module**

In [77]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

**Table 3-2. Some useful itertools functions**

Function | Description
---|---
combinations(iterable, k)| Generates a sequence of all possible k-tuples of elements in the iterable, ignoring order and without replacement (see also the companion function combinations_with_replacement)
permutations(iterable, k) |Generates a sequence of all possible k-tuples of elements in the iterable, respecting order
groupby(iterable\[, keyfunc\]) | Generates (key, sub-iterator) for each unique key
product(\*iterables, repeat=1) | Generates the Cartesian product of the input iterables as tuples, similar to a nested for loop

## Errors and Exception Handling

In [78]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [79]:
attempt_float('1.2345')

1.2345

In [80]:
attempt_float('something') #no exeption raised

'something'

In [81]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [82]:
attempt_float((1,2))

(1, 2)

In [83]:
# Full syntax:
def open_file(path):
    f = open(path, 'w')
    try:
        write_to_file(f) 
    except:
        print('Failed') #if try failed
    else:
        print('Succeeded') #if try succeeded
    finally:
        f.close() #in any case

## Files and the Operating System

In [84]:
import sys
sys.getdefaultencoding()

'utf-8'

**Table 3-3. Python file modes**

Mode | Description
---|---
r |Read-only mode
w |Write-only mode; creates a new file (erasing the data for any file with the same name)
x| Write-only mode; creates a new file, but fails if the file path already exists
a| Append to existing file (create the file if it does not already exist)
r+| Read and write
b |Add to mode for binary files (i.e., 'rb' or 'wb')
t |Text mode for files (automatically decoding bytes to Unicode). This is the default if not specified. Add t to other modes to use this (i.e., 'rt' or 'xt')

**Table 3-4. Important Python file methods or attributes**

Method | Description
---|---
read(\[size\]) | Return data from file as a string, with optional size argument indicating the number of bytes to read
readlines(\[size\]) | Return list of lines in the file, with optional size argument
write(str) | Write passed string to file writelines(strings) Write passed sequence of strings to the file
close() |Close the handle
flush()| Flush the internal I/O buffer to disk
seek(pos)| Move to indicated file position (integer)
tell() |Return current file position as integer
closed |True if the file is closed